<% provide :page_title, t("hyrax.admin.sidebar.works") %>

<% provide :head do %>
  <%= rss_feed_link_tag route_set: hyrax %>
  <%= atom_feed_link_tag route_set: hyrax %>
<% end %>

<script>
    //<![CDATA[

    <%= render partial: 'scripts', formats: [:js] %>

    //]]>
</script>

<% provide :page_header do %>
  <h1><span class="fa fa-file" aria-hidden="true"></span> <%= t("hyrax.admin.sidebar.works") %></h1>
  <% if current_ability.can_create_any_work? %>
    <div class="pull-right">
      <% if @create_work_presenter.many? %>
        <%# Removed batch upload button here. Refer to /vendor/bundle/ruby/2.5.0/gems/hyrax-2.5.1/app/views/hyrax/my/works/index.html.erb for original code. %>
        <%= link_to(
                t(:'helpers.action.work.new'),
                '#',
                data: { behavior: "select-work", target: "#worktypes-to-create", 'create-type' => 'single' },
                class: 'btn btn-primary'
            ) %>
      <% else # simple link to the first work type %>
        <%# Removed batch upload button here. Refer to /vendor/bundle/ruby/2.5.0/gems/hyrax-2.5.1/app/views/hyrax/my/works/index.html.erb for original code. %>
        <%= link_to(
                'Submit a Publication',
                new_polymorphic_path([main_app, @create_work_presenter.first_model],
                                     add_works_to_collection: Collection.first),
                class: 'btn btn-primary'
            ) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default <%= 'tabs' if current_page?(hyrax.dashboard_works_path(locale: nil)) || @managed_works_count > 0 %>">
      <%= render 'tabs' if current_page?(hyrax.dashboard_works_path(locale: nil)) || @managed_works_count > 0 %>
      <div class="panel-heading">
        <% if current_page?(hyrax.my_works_path(locale: nil)) %>
          <span class="count-display"><%= I18n.t('hyrax.my.count.works.you_own', total_count: @response.total_count).html_safe %></span>
        <% elsif current_page?(hyrax.dashboard_works_path(locale: nil)) && !current_ability.admin? %>
          <span class="count-display"><%= I18n.t('hyrax.my.count.works.you_manage', total_count: @response.total_count).html_safe %></span>
        <% else %>
          <span class="count-display"><%= I18n.t('hyrax.my.count.works.in_repo', total_count: @response.total_count).html_safe %></span>
        <% end %>
      </div>
      <div class="panel-body">
        <%= render 'search_header' %>
        <h2 class="sr-only">Works listing</h2>
        <%= render 'document_list' %>

        <%= render 'results_pagination' %>
      </div>
    </div>
  </div>
</div>



<%= render '/shared/select_work_type_modal', create_work_presenter: @create_work_presenter if @create_work_presenter.many? %>
