<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>Importer: <%= @importer.name %> </p>
        <p>User: <%= @importer.user %> </p>
        <p>Status: <%= @importer.status %> </p>
        <p>Entries Processed: <%= @importer.last_run&.processed_records %> </p>
        <p>Entries Failed: <%= @importer.last_run&.failed_records %> </p>
        <p>Total Work Entries: <%= @importer.last_run&.processed_works + @importer.last_run&.failed_records if @importer.last_run&.processed_works != nil  %> </p>

        <% @importer.entries.order('id').each do |e| %>
            <% entry_path = bulkrax.importer_entry_path(@importer.id, e.id) %>
            <p>
                <%= link_to e.identifier, entry_path %> -
                Status: <%= e.status %> -
                Errors: <%= e.last_error.present? ? e.last_error.dig("error_class") + " - " + e.last_error.dig("error_message") : 'None'  %>
            </p>
        <% end %>
    </body>
</html>
