<%= form_tag search_form_action, method: :get, class: "narrow py-2", id: "search-form-header",aria:{label: "Search"},role: "search" do %>
  <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
  <%= hidden_field_tag :search_field, 'all_fields' %>
  <%= hidden_field_tag :search_field, 'member_of_collection_ids' %>
  <div class="input-group">

    <label class="sr-only" for="search-field-header">Search</label>


      <%= text_field_tag :q,
                         current_search_parameters,
                         class: "form-control form-control-lg",
                         id: "search-field-header",
                         placeholder: t("hyrax.search.form.q.placeholder"),
                         aria_label: "Search Field" %>

      <div class="input-group-btn">
        <button type="submit" style="background-color:#036" class="btn btn-primary btn-lg " id="search-submit-header" aria-label="Search">
          <span class="sr-only">Search</span>
          <span class="fas fa-arrow-right" role="img"></span>
        </button>
        <button class="btn btn-default" type="button" aria-label="Advanced Search Options">
          <%= link_to 'More options',
                      blacklight_advanced_search_engine.advanced_search_path(search_state.to_h),
                      class: 'advanced_search underline-link' %>
        </button>
      </div><!-- /.input-group-btn -->
    </div><!-- /.input-group -->

  </div><!-- /.form-group -->
<% end %>