<%= form_tag search_form_action, method: :get, class: "form-horizontal search-form", id: "search-form-header", role: "search" do %>
  <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
  <%= hidden_field_tag :search_field, 'all_fields' %>
  <div class="form-group">

    <label class="control-label col-sm-3" for="search-field-header">
      Search Full Text
    </label>

    <div class="input-group" aria-label="Search Bar">
      <%= text_field_tag :q,
                         current_search_parameters,
                         class: "q form-control",
                         id: "search-field-header",
                         placeholder: t("hyrax.search.form.q.placeholder"),
                         aria_label: "Search Field" %>

      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary" id="search-submit-header" aria-label="Search">
          <%= t('hyrax.search.button.html') %>
        </button>
        <button class="btn btn-default" type="button" aria-label="Advanced Search Options">
          <%= link_to 'More options',
                      blacklight_advanced_search_engine.advanced_search_path(search_state.to_h),
                      class: 'advanced_search underline-link' %>
        </button>
      </div><!-- /.input-group-btn -->
    </div><!-- /.input-group -->

  </div><!-- /.form-group -->
<% end %>