<%= javascript_include_tag 'required_reports_filters.js' %>
<% provide :page_title, construct_page_title('Required Reports') %>

<main id="skip-header-target" role="main">
  <section class="py-3">
    <div class="container">
      <div class="row matrix-gutter px-2 justify-content-between">
        <div class="col-9"><h2>Required Reports</h2>
        </div>
      </div>
      <div class="row matrix-gutter px-2 pb-2 justify-content-between">
        <div class="col-9">
          <p>Agencies are required to submit reports to the Government Publications Portal as of June 2020.</p>
        </div>
      </div>
      <div class="row px-2">
        <div class="col-lg">
          <div class="table-responsive">
            <table id="required-report-table" class="table table-striped recent">
              <thead>
              <tr class="bg-white">

              <th scope="col" id="agency" >Agency</th>
              <th scope="col">Required Report</th>
              <th scope="col">Frequency</th>
              <th scope="col">Authorizing Law</th>
              <th scope="col">Last Published</th>
              </tr>
              </thead>

              <tbody class="small">
              <% @required_reports.each_with_index do |required_report, index| %>
                <tr>

                  <td><%= required_report.agency_name %></td>
                  <td><a class=" font-weight-bold underline-link" href="/"> <%= required_report.name %></a><br/>
                    <%= required_report.description %></td>
                  <td><%= required_report.frequency_string %></td>
                  <td><span><%= required_report.local_law %></span><br/><span><%= required_report.charter_and_code %></span></td>
                  <td><%= required_report.last_published_date %></td>
              <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    </div>
  </section>
</main>



