<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @required_report.title %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @required_report.agency %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @required_report.frequency %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @required_report.due_date %>
</p>

<p>
  <strong>Citation:</strong>
  <%= @required_report.citation %>
</p>

<%= link_to 'Edit', edit_required_report_path(@required_report) %> |
<%= link_to 'Back', required_reports_path %>
